<h1>Tweets Search</h1>

<!-- <div class="search_container"> -->
  <form class="form-inline" role="form">
      <div class="form-group">
      <%= form_tag tweets_path, :method => 'get' do %>
      <div class="form-group">
          <%= text_field_tag :tweetsearch, params[:tweetsearch], placeholder: "Search Name", class: 'form-control' %>
      </div>
          <%= submit_tag "Search", :name => nil, type: "submit", class: 'btn btn-default' %>
      <% end %>
    </div>
  </form>
<!-- </div> -->
<hr/>

<div class="backbtn"><%= link_to 'Back', new_search_path %></div>

 <table class="table table-hover">
  	<tr>
  		<th>Tweets</th>
  	</tr>
<%#= show_tweet_results %>

  	<% if @tweetsearch %>
	    <% @tweetsearch.each do |tweet| %>
	    <tr>
	    	<td><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
	    </tr>
	   <% end %>   
	<% end %>
  </table>