<h1>This is the index</h1>

<%= form_tag tweets_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<br>


<%= link_to 'Back', new_search_path %>

 <table class="table table-hover">
  	<tr>
  		<th>Tweets</th>
  	</tr>
<%#= show_tweet_results %>

  	<% if @tweetsearch %>
	    <% @tweetsearch.each do |tweet| %>
	    <tr>
	    	<td><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
	    </tr>
	   <% end %>   
	<% end %>
  </table>