

<div class = "icon_container">
<h1>New Tweets Page</h1>

<div class="icon_div">
	<a href="/ownsearches"><%= image_tag "own.png", class: "search_img" %></a>
	<div><%= link_to "Profile Search", ownsearches_path %> </div>
</div>

<div class="icon_div">
	<a href="/"><%= image_tag "groups.png", class: "search_img" %></a>
	<div><%= link_to "User Search", root_path %></div>
</div>

<div class="icon_div">
	<a href="/"><%= image_tag "tweets.png", class: "search_img" %></a><div><%= link_to "Tweet Search", tweets_path %> </div>
</div>
	
<div class="icon_div">
	<a href="/"><%= image_tag "trending.png", class: "search_img" %></a>
	<div><%= link_to "Trending Search", root_path %></div>
</div>
	

	<div>
		<%# link_to "User Search", ownsearches_path, id: "user_search", class: "search_img" %>
	</div>

	<div>
		<%# link_to "Influencer Search", root_path, id: "influencer_search", class: "search_img" %>
	</div>

	<div>
		<%# link_to "Tweet Search", new_search_path, id: "tweet_search", class: "search_img" %>
	</div>

	<div>
		<%# link_to "Trending Search", root_path, id: "trending_search", class: "search_img" %>
	</div>

</div>